@font-face {          /*устойчивая конструкция для подключения шрифтов*/
	font-family: "Open Sans"; /*Тут указываем свободное название подключаемого шрифта*/
	src: url('../fonts/OpenSans.ttf');  /*Указыввем относительный пусть до папки со шрифтом.Для подключения шрифта необходимо предварительно создать папку fonts и туда  поожить заранее скачанный файл шрифта*/
}
@font-face {
	font-family: "Huntsman";
	src:url('../fonts/Huntsman.otf');
}
body, html{
	padding: 0; /*Внутрненние отступы*/
	margin: 0;  /*Внешние отступы*/
	font-family: "Open Sans", sans-serif; /*font-family - определяет то , какой шрифт будет задействован в данном блоке , a sans-serif -  запасной , на случай если по какой то причине  основной шрифт не загрузится*/
	color: #5e5e5e;
}
header {
	width: 100%; /*Ширина блока*/
	height: 50px; /*Высота бюлока*/
	padding: 10px 0; /*Внутренние верхний и нижний отступы будут равны 10пикселям , а правый и левый будут отсутствовать = 0*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.1); /*Тут задается нижняя граница(полоска) для элемента с толщиной в 1пиксель сплошная заданного цвета rgb  а значение 0.1  это прозрачноасть*/ 
	background: url('../images/promo.jpg') no-repeat;
	background-size: cover; /*Определяет размер фона. Но свойство Cover - означает то что фон будет приспосабливаться к размерам блока к которому фон применяется*/ 
}
#headerInside {
	width: 1100px;
	margin: 0 auto;
}
#logo {
	width: 50px;
	height: 50px;
	float: left;
	background: url('../images/origami-logo.svg') no-repeat;
	background-size: contain;
}
#companyName {
	font-family: "Huntsman", sans-serif;
	float: left;
	margin-left: 15px;
	font-size: 22px;
	line-height: 50px;
	color: #fff;
}
#navWrap {
	align-items: center;
	flex-direction: row;
	display: flex;
	height: 50px;
	float: right;	
}
#navWrap a {
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	display: block;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	padding: 0 20px;
	height: 70px;
	line-height: 70px;
	text-decoration: none;
}
#navWrap a:last-child {
	border-left: none;
}
#navWrap a:hover {
	background: #5e5e5e;
}
